/******************************** teg style block ********************************/
*{
    font-family: helvetica,arial,sans-serif;
}

html{
    height: 100%;
}

body{
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

li{
    list-style: none;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: #ffffff!important;
}

/******************************** menu block ********************************/

.menu {
    position: relative;
    opacity:1;
    overflow: auto;
    background-color: #323335;
    float: left;
    height: 100%;
    width: 20%;
    z-index: 1;
}

.buttonPanel{

    padding: 0;
    margin: 0;
}

.button-active,
.button{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000;
    border-bottom: 1px solid #1D1E1F;
    border-left: 4px solid transparent;
    box-shadow: 0 1px 0px #373839;
    text-transform: capitalize;
    margin-top: -1px;
    padding: 10px 20px 12px 40px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

.button:hover,
.button-active{
    border-left: 4px solid #0088cc;
    color: #0088cc;cursor: pointer;
}

.about{
    height: 100px;
}

.about h1{
    color: #E8EEF0;
    font-family: Fjalla One;
    font-size: 55px;
    line-height: 100px;
    margin: 0;
    text-align: center;
}

/************************** content block ***************************************/
.content {
    background-color: #FFFFFF;
    overflow: auto;
    float: right;
    right: 0;
    width: 80%;
    height: 100%;
}
                                                            /* demo btn */
.demo-btn{
    cursor: pointer;
    box-shadow: 0 0 15px 0px inset;
    color: #323335;
    font-variant: small-caps;
    height: 50px;
    line-height: 50px;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100px;
    z-index: 999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.demo-btn:hover{
    font-size: x-large;
}

.demo-btn:active{
    border: 1px solid transparent;
}
                                                            /* tab block */
.tabsContainer{
    background-color: #F9F9F9;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0;
}

.tabsContainerWrapper{
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.tab-active,
.tab{
    height: 50px;
    line-height: 50px;
    float: left;
    padding: 0 30px;
    color: #C5BFB3;
    cursor: pointer;
}

.tab-active{
    border: 1px solid #E3E3E3;
}

.tab:hover,
.tab-active{
    background-color: #fff;
    border-bottom: 1px solid transparent;
    color: #191C21;
}
                                                        /* file content block */

.loader-img{
    bottom: 0;
    height: 32px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
}

.fileContent{
    min-height: 200px;
    padding: 50px;
}

.fileContentWrapper {
    background-color: #ffffff;
    margin-top: 50px;
}

.widget-description{
    color: #817f7f;
    font-size: 20px;
    text-indent: 20px;
}

.info-me{
    font-size: 120%;
}

.info-me h3{
    color: #454545;
    font-size: 200%;
    margin-top: 0;
    text-align: center;
}

.info-me p b{
    color: #0088cc;
    font-size: 110%
}

.info-me p{
    color: #817f7f;
    font-size: 110%
}

.info-me h3+p{
    text-indent: 20px;
    padding-bottom: 40px;
}

/************************* angular animate ******************************************/

.menu.ng-hide+.content>.fileContentWrapper,
.menu.ng-hide+.content,
.menu+.content,
.menu.ng-hide-add,
.menu.ng-hide-remove
,.tabsContainerWrapper{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    display:block!important;
}
.menu.ng-hide{
    margin-left: -20%;
}

.menu.ng-hide+.content{
    width: 100%
}

.tabsContainerWrapper.ng-hide{
    margin-top: -50px;
}

.menu.ng-hide+.content>.fileContentWrapper{
    overflow: visible;
    opacity: 1;
}

.menu.ng-hide-remove-active+.content .fileContentWrapper,
.menu.ng-hide-add+.content .fileContentWrapper{
    opacity: 0;
}

/*****************************************************************************/