::-webkit-scrollbar { display: none; }
.conteiner {
    min-width: 1000px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.content {
    background-color: #ffffff;
    position: absolute;
    float: left;
    height: 100%;
    right: 0;
    width: 80%;
}

.title{ 
    background: none repeat scroll 0 0 yellowgreen;
    font-size: 20px;
    height: 50px;
    margin: 0;
    text-align: center;
}

.previousTabArrow{
    background-image: url("img/prev.jpg");
    border-right: 1px solid #000000;
    cursor: pointer;
    float: left;
    height: 50px;
    width: 23px;
}

.nextTabArrow{ 
    background-image: url("img/next.jpg");
    cursor: pointer;
    float: left;
    height: 50px;
    width: 23px;
}

.arrowBlock{
    z-index: 5;
    display: none;
    background-color: #0000FF;
    position: absolute;
    right: 0;
    top: 0; 
}

.previousTabArrow:hover{
    background-image: url("img/prevHover.jpg");
    border-right: 1px solid #000000;
    cursor: pointer;
    float: left;
    height: 50px;
    width: 23px;
}

.nextTabArrow:hover{ 
    background-image: url("img/nextHover.jpg");
    cursor: pointer;
    float: left;
    height: 50px;
    width: 23px;
}

.buttonPanel {
    overflow: auto;
    background-color: #323335;
    float: left;
    height: 100%;
    width: 20%;
    z-index: 1;
}
.buttonPanel>h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 36px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000;
    text-align: center;
    line-height: 57px;
    margin: 10px 0 60px;
}
.buttonBlock{
    display:none;
}

.buttonActive,
.button,
.mainButton{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000;
    padding: 10px 20px 12px 20px;
    border-bottom: 1px solid #1D1E1F;
    box-shadow: 0 1px 0px #373839;
    text-transform: capitalize;
    margin-top: -1px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;}
.mainButton{font-size: 16px;}
.button:hover,
.buttonActive,
.mainButton:hover{
    color: #0088cc;cursor: pointer;}
.button:hover,
.buttonActive{border-left: 2px solid #0088cc;}
.button,
.buttonActive{padding: 10px 20px 12px 40px;}

.tabsContainer{
    display: table;
    width: 100%;
    padding: 0;
}

.tabsContainerWrapper{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.tabsContainer{
    display: -moz-inline-box;
    background-color: #F9F9F9;
    margin: 0;
    padding: 10px 10px 0;}
.tabActive,
.tab{
    display: none;
    float: left;
    border-radius: 5px 5px 0 0;
    padding: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #C5BFB3;
    cursor: pointer;}
.tabActive{
    background-color: #fff;
    border: 1px solid #E3E3E3;
    border-bottom: 1px solid transparent;
    color: #191C21;}

.fileContent{
    min-height: 200px;
    display: none;
    padding: 0px 25px 25px 15px;
}

.fileContentWrapper {
    background-color: #ffffff;
    height: auto;
    margin: 3% 2% 0;
    max-height: 80%;
    overflow: auto;
    top: 0;
    width: 96%;
}

pre {
     white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
     background-color: #ffffff!important;
}  

html * {
    font-family: helvetica,arial,sans-serif;
}

.by{
    font-size: 15px;
}

.firstLetter{
    color: #0079C2;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}