<h1>{{title}}</h1>
<p>Create user</p>

<form action="/" method="post">
    First name: <input type="text" name="name"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" value="Submit">
</form>