<p>{{title}}</p>
<table>
    <tr>
        <td>NAME</td>
        <td>PASSWORD</td>
    </tr>
    {{#each users}}
        <tr>
            <td>{{name}}</td>
            <td>{{password}}</td>
        </tr>
    {{/each}}
</table>