#currentBlock{
	width :500px;
	height:500px;
    position: relative;
}

.imgWrapper{
    overflow: hidden;
    position: absolute;
}

.shuffle-control{
    padding: 0;
    position: relative;
}
.shuffle-btn,
.one-category{
    border: 1px solid white;
    box-shadow: 0 0 25px 2px blue inset;
    display: inline-block;
    line-height: 60px;
    padding: 0 60px;
    cursor: pointer;
}

.shuffle-btn:hover,
.one-category-active,
.one-category:hover{
    box-shadow: 0 0 40px 15px blue inset;
    color: white;
}

.shuffle-control li:last-child{
    border-radius: 0 10px 10px 0;
}

.shuffle-control li:first-child{
    border-radius: 10px 0 0 10px;
}

.imgWrapper img{
	width: 100%;
	height: 100%;
	position: absolute;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.imgWrapper img:hover{
    width: 130%;
    height: 130%;
}

#currentBlock>div{
    overflow: hidden;
}

.hider-zoomer {
    cursor: pointer;
    display:none;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity = 75);
    opacity: 0.75;
    text-align: center;
    z-index: 3;
}

.container2-zoomer {
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    text-align: center;
}

.container2-zoomer:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content:'';
}

.container-zoomer{
    z-index: 99;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
