<section>
    <form class="form-horizontal" ng-submit="create()">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input type="text" ng-model="title" class="form-control" id="title" placeholder="Title" required="" class="form-control">
        </div>
        <label class="control-label" for="content">Content</label>
        <div class="controls">
            <textarea ng-model="content" class="form-control" id="content" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="controls">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>
    </form>
</section>