.tabbable-content-container{}

.tabbable-tabs-container{
	display: inline-block;
}

.tabbable-content{ 
	display: none;
}

.tabbable-content-active{ 
	display: block;
}

.tabbable-tab{
	cursor: pointer;
    border: 1px solid #D2AA00;
    border-radius: 5px;
    display: inline-block;
}

.tabbable-tab:hover{
	background-color: yellow;
}
