.image {
	width: 910px;
	height: 345px;
}

.button-slider,.button-slider-active{
    border-bottom: 1px solid #ffffff;
    font-variant: small-caps;
    height: 25%;
    line-height: 85px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

.button-slider{
	background-color: aqua;
}

.button-slider-active{
	background-color: orange;
    font-size: 20px;
}

.slider-button-panel{
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 300px;
}

.slider{
    position: relative;

}

.slides_container {
	margin-left: 300px;
    overflow: hidden;
    width: 910px;
}

.imageStrip{
    height: 345px;
    left: 0;
    position: relative;
}

.selectionPointer{
    left: 299px;
    position: absolute;
    top: 26px;
    z-index: 5;
}

.slides_container ul{
	margin: 0;
}

.imageStrip li {
    position: absolute;
    z-index: 0;
}
