<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/"/>
    <title>FIVB</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->

    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="vendor/bower/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->
</head>
<body ng-app="angularPassportApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="vendor/bower/es5-shim/es5-shim.js"></script>
<script src="vendor/bower/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<header class="navbar navbar-wrapper navbar-static-top"
        role="banner"
        ng-include=""
        src="'views/navbar/navbar.html'">
</header>
<div class="content-container">
    <div class="row">
        <div class="col-md-3"
             id="leftCol"
             ng-include=""
             src="'views/sidebar/sidebar.html'">
        </div>
        <div class="content col-md-9">
            <div class="content"
                 ng-view="">
            </div>
        </div>
    </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script src="vendor/bower/angular/angular.js"></script>

<!-- build:js(app) scripts/modules.js -->
<script src="vendor/bower/angular-resource/angular-resource.js"></script>
<script src="vendor/bower/angular-cookies/angular-cookies.js"></script>
<script src="vendor/bower/angular-sanitize/angular-sanitize.js"></script>
<script src="vendor/bower/angular-route/angular-route.js"></script>
<script src="vendor/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="vendor/bower/angular-http-auth/src/http-auth-interceptor.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="core/app.js"></script>
<script src="core/config.js"></script>
<script src="core/router.js"></script>
<script src="core/interceptors.js"></script>

<script src="views/navbar/navbar.js"></script>
<script src="views/sidebar/sidebar.js"></script>

<script src="pages/main/main.js"></script>
<script src="pages/login/login.js"></script>
<script src="pages/signup/signup.js"></script>
<script src="pages/blogs/blogs.js"></script>
<script src="pages/users/user.js"></script>

<script src="directives/uniqueUsername.js"></script>
<script src="directives/onFocus.js"></script>
<script src="directives/mongooseError.js"></script>

<script src="services/Auth.js"></script>
<script src="services/User.js"></script>
<script src="services/Session.js"></script>
<script src="services/Blogs.js"></script>
<!-- endbuild -->
</body>
</html>
